<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
</head>
<body>

    <div class="container">
        <form th:action="@{/products/create-product}"  th:object="${product}" method="post">
            <div class="form-group">
                <label for="product_name">Product Name</label>
                <input class="form-control" id="product_name" type="text" placeholder="Product Name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" type="" placeholder="Product Description" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <InputGroup>
                    <InputGroupAddon addonType="prepend">$</InputGroupAddon>
                    <label for="cost">Product Cost</label>
                    <input class="form-control" id="cost" type="text" placeholder="Username" th:field="*{cost}">
                </InputGroup>
            </div>

            <div class="form-group">
                <input class="btn btn-primary btn-xl" type="submit" value="Create">
            </div>
        </form>
    </div>

    <div th:replace="fragments/base :: javascripts"></div>
</body>
</html>