<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<head>
    <title>Parent's Dashboard</title>
</head>
<body>
    <div th:replace="fragments/base :: navbar"></div>



    <div class="container-fluid min-vh-100">
        <h1 th:text="${parent.getFirstName()}"></h1>
        <h1 th:text="${parent.getFamily().getFamilyName()}"></h1>




        <!--------------------------------->
        <!--------MESSAGES SECTION--------->
        <!--------------------------------->
        <div th:if="${messages != null}" style="margin-top: 25px">
            <script>
                window.onload = function () {
                    $('.toast').toast('show')
                }
            </script>
            <div th:each="message : ${messages}">

                <div style="position: absolute; bottom: 100px; left: 50">
                    <div style="background-color: #61d27b" data-delay=5000 class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:if="${message.key.equalsIgnoreCase('success')}">
                        <div style="background-color: #61d27b" class="toast-header text-white">
                            <strong class="mr-auto" th:text="${message.value}"></strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${message.key.equalsIgnoreCase('error')}">
                    <span><strong th:text="${message.value}"></strong></span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="font-weight-light" aria-hidden="true">×</span></button>
                </div>

            </div>

        </div>
    </div>




<div th:replace="fragments/base :: javascripts"></div>
</body>
</html>